    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Syne', sans-serif;
        color: #333;
        background-color: #fff;
    }
    
    header {
        padding: 2rem;
        background-color: #f9f9f9;
        border-bottom: 1px solid #eee;
    }
